<div class="about" id="about">
  <img src="../../../../assets/images/code.png" alt="Тут должен быть пхп-код" />
  <div class="about_text">
    <h1 class="lang-whereami">А куда я попал?</h1>
    <p class="lang-whereami1">По идее, вы не должны задавать себе этот вопрос. Страница закрыта от индексации в поисковике посредством robots.txt, значит либо вам предоставили доступ по ссылке, либо вы перешли сюда из социальных сетей. В любом случае, это просто мое портфолио и home для мелких побочных проектов, идеи для которых внезапно возникли у меня в голове. Я просто складирую разные интересные штуки в поддиректориях этого хоста.</p>
    <p class="lang-whereami2">Создатель сайта - программист под ником PHProger, или же Boguchar. Полное имя можно отыскать где-то в соцсетях, в контексте данного ресурса я считаю это избыточным. Занимаюсь разработкой и поддержкой сайтов уже 4 года, за все это время освоил основные языки (HTML, CSS, JS, PHP, SQL), а также множество других не менее важных в этой сфере технологий (полный список указан на <a href="https://github.com/PHProger-themus" target="_blank">GitHub</a>).</p>
  </div>
</div>

<span id="portfolio"></span>
<div class="section portfolio">
  <h2 class="lang-portfolio">Портфолио</h2>
  <p class="lang-portfolio-text">Все функционирующие веб-сайты, которые я когда-либо разрабатывал, представлены в данной секции.</p>
  <div class="pf_list">
    <div *ngFor="let website of websites" class="pf_item {{ website.id }}">
      <div class="pf_item_info">
        <p class="pf_item_info_header">{{ website.domain }}</p>
        <p class="pf_item_info_about_site lang-armoservis-text">{{ website.about }}</p>
        <p class="pf_item_info_about_development lang-armoservis-extra">{{ website.devStory }}</p>
        <a href="{{ website.link }}" class="button reversed lang-visit" target="_blank">Посетить</a>
      </div>
    </div>
  </div>
</div>
